<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Backend/Default" />

    <f:section name="content">
        <f:render partial="Backend/FlashMessages" section="main"/>

        <div id="tokens-confs">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="tab-switch{f:if(condition: activeTokenTab, else: ' active')}"><a href="#configurations" data-toggle="tab"><f:translate key="pxasocialfeed_module.labels.configurations"/></a></li>
                <li class="{f:if(condition: isTokensValid, then:'', else: 'has-validation-error ')}tab-switch{f:if(condition: activeTokenTab, then: ' active')}"><a href="#tokens" data-toggle="tab"><f:translate key="pxasocialfeed_module.labels.tokens"/></a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane{f:if(condition: activeTokenTab, else: ' active')}" id="configurations">
                    <br>
                    <h1><f:translate key="pxasocialfeed_module.labels.listOfConfigs"/></h1>
                    <f:render partial="Backend/ListOfConfigurations" section="list" arguments="{configs: configs}"/>
                    <f:link.action class="btn btn-default" action="manageConfiguration"><f:translate key="pxasocialfeed_module.labels.createNewConfig"/></f:link.action>
                </div>
                <div class="tab-pane{f:if(condition: activeTokenTab, then: ' active')}" id="tokens">
                    <br>
                    <h1><f:translate key="pxasocialfeed_module.labels.listOfTokens"/></h1>
                    <f:render partial="Backend/ListOfTokens" section="list" arguments="{tokens: tokens}"/>
                    <f:link.action class="btn btn-default" action="manageToken"><f:translate key="pxasocialfeed_module.labels.create_new_token"/></f:link.action>
                </div>
            </div>
        </div>
    </f:section>
</div>