<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers">

    <f:layout name="Backend/Default"/>

    <f:section name="content">
        <f:comment><!--clean all messages--></f:comment>
        <f:flashMessages as="messages"></f:flashMessages>

        <h4><f:translate key="pxasocialfeed_module.labels.{f:if(then: 'editToken', else: 'addNewToken', condition: isEditForm)}"/></h4>

        <f:render partial="Backend/ValidationErrors" section="main" arguments="{for: 'token'}"/>

        <f:form action="saveToken" name="token" object="{token}" enctype="multipart/form-data">
            <table class="table table-bordered">

                <pxa:tokenFields as="fields" type="{type}">
                    <f:for each="{fields}" as="field">
                        <tr>
                            <td><f:translate key="pxasocialfeed_module.labels.{field}"/></td>
                            <td>
                                <f:if condition="{isEditForm}">
                                    <f:then>
                                        <f:form.textfield name="credentials[{field}]" class="form-control" value="{pxa:getTokenCredential(token: token, credential: field)}"/>
                                    </f:then>
                                    <f:else>
                                        <f:form.textfield name="credentials[{field}]" class="form-control"/>
                                    </f:else>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </pxa:tokenFields>

                <f:if condition="{isEditForm}">
                    <f:else>
                        <tr>
                            <td><f:translate key="pxasocialfeed_module.labels.type"/></td>
                            <td><f:form.select id="select-social-type" property="socialType" options="{pxa:availableTokensTypes()}" value="{type}" class="form-control"/></td>
                            <f:for each="{pxa:availableTokensTypes()}" as="socialType" key="socialTypeId">
                                <input type="hidden" id="social-type-url-{socialTypeId}" value="{f:uri.action(action: 'manageToken', arguments: {type: socialTypeId})}">
                            </f:for>
                        </tr>
                    </f:else>
                </f:if>

                <tr>
                    <td></td>
                    <td>
                        <f:form.submit class="btn btn-success" name="save"
                                       value="{f:translate(key: '{f:if(then: \'pxasocialfeed_module.labels.button_save\', else: \'pxasocialfeed_module.labels.create_new_token\', condition: isEditForm)}')}"/>
                        <input class="btn btn-default" type="reset" value="{f:translate(key: 'pxasocialfeed_module.labels.button_clear')}"/>
                    </td>
                </tr>
            </table>
        </f:form>

        <f:link.action class="btn btn-default" action="index" arguments="{activeTokenTab: 1}"><f:translate key="pxasocialfeed_module.labels.back"/></f:link.action>
    </f:section>
</div>