<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers">

    <f:section name="main">
        <f:if condition="{pxa:isNumeric(value: configiguration.socialId)}">
            <f:else>
                <br>
                <button data-uid="{configiguration.uid}" id="get-inst-user-id" data-placement="top" title="{f:translate(key: 'pxasocialfeed_module.labels.inst_id_tooltip')}" class="tooltip-hold btn btn-default">
                    <f:translate key="pxasocialfeed_module.labels.inst_id_button"/>
                </button>
            </f:else>
        </f:if>
    </f:section>
</div>
