<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">

    <f:section name="list">
        <f:if condition="{tokens}">
            <f:then>
                <table class="table table-striped">
                    <tr class="info">
                        <td>UID</td>
                        <td><f:translate key="module.type"/></td>
                        <td><f:translate key="module.general_info"/></td>
                        <td></td>
                    </tr>
                    <f:for each="{tokens}" as="token">
                        <tr>
                            <td>{token.uid}</td>
                            <td>{token.title}</td>
                            <td><f:render partial="Backend/TokenInfo/Type{token.type}" arguments="{token: token}" /></td>
                            <td>
                                <div class="btn-group">
                                    <f:link.action action="editToken" class="btn btn-default" arguments="{token: token}" title="{f:translate(key: 'module.edit')}">
                                        <core:icon identifier="actions-document-open" />
                                    </f:link.action>
                                    <f:link.action action="deleteToken" class="btn btn-default delete-action" arguments="{token: token}" title="{f:translate(key: 'module.delete')}">
                                        <core:icon identifier="actions-edit-delete" />
                                    </f:link.action>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <f:render partial="Backend/NothingFoundMessage" contentAs="message">
                    <f:translate key="module.nothing_were_found"/>
                </f:render>
            </f:else>
        </f:if>
    </f:section>
</div>

