<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="list">
        <f:if condition="{tokens}">
            <f:then>
                <table class="table table-striped">
                    <tr class="info">
                        <td>Uid</td>
                        <td><f:translate key="module.type"/></td>
                        <td><f:translate key="module.general_info"/></td>
                        <td><f:translate key="module.edit"/></td>
                        <td><f:translate key="module.delete"/></td>
                    </tr>
                    <f:for each="{tokens}" as="token">
                        <tr>
                            <td>{token.uid}</td>
                            <td>{token.socialTypeDescription}</td>
                            <td> <f:render partial="Backend/TokenInfo/Type{token.socialType}" arguments="{token: token}" /></td>
                            <td>
                                <f:link.action action="editToken" class="btn btn-default" arguments="{token: token}">
                                    <f:translate key="module.edit"/>
                                </f:link.action>
                            </td>
                            <td>
                                <f:link.action action="deleteToken" class="btn btn-danger delete-action" arguments="{token: token}">
                                    <f:translate key="module.delete"/>
                                </f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <f:render partial="Backend/NothingFoundMessage" contentAs="message">
                    <f:translate key="module.nothing_were_found"/>
                </f:render>
            </f:else>
        </f:if>
    </f:section>
</div>

