<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers">

    <f:section name="list">
        <f:if condition="{configs}">
            <f:then>
                <table class="table table-striped">
                    <tr class="info">
                        <td><f:translate key="pxasocialfeed_module.labels.uid"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.form.config_name"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.form.social_id"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.form.amount_of_feeds"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.form.feed_storage"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.token_uid"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.app_id"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.edit"/></td>
                        <td><f:translate key="pxasocialfeed_module.labels.delete"/></td>
                    </tr>

                    <f:for each="{configs}" as="configItem">
                        <tr>
                            <td>{configItem.uid}</td>
                            <td>{configItem.name}</td>
                            <td>
                                {configItem.socialId}
                                <f:if condition="{configItem.token.socialType} == 2">
                                    <f:comment>
                                        If this is instagram and ID is not numeric, then it's just a user name and we need to get an ID
                                    </f:comment>
                                    <f:if condition="{pxa:getTokenCredential(token: configItem.token, credential: 'accessToken')}">
                                        <f:render partial="Backend/InstagramGetId" section="main" arguments="{configiguration: configItem}"/>
                                    </f:if>
                                </f:if>
                            </td>
                            <td>{configItem.feedsLimit}</td>
                            <td>{configItem.storageTitle} (#{configItem.feedStorage})</td>
                            <td>{configItem.token.socialTypeDescription} (#{configItem.token.uid})</td>
                            <td>{configItem.token.appId}</td>
                            <td>
                                <f:link.action action="manageConfiguration" class="btn btn-default" arguments="{configuration: configItem}">
                                    <f:translate key="pxasocialfeed_module.labels.editConfig"/>
                                </f:link.action>
                            </td>
                            <td>
                                <f:link.action action="deleteConfiguration" class="btn btn-danger  delete-action" arguments="{configuration: configItem}">
                                    <f:translate key="pxasocialfeed_module.labels.delete"/>
                                </f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </table>
            </f:then>
            <f:else>
                <div class="typo3-messages">
                    <div class="alert alert-info">
                        <div class="media">
                            <div class="media-left">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-check fa-stack-1x"></i>
                        </span>
                            </div>
                            <div class="media-body">
                                <div class="alert-message"><f:translate key="pxasocialfeed_module.labels.noConfigurationsFound"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </f:section>
</div>