
<f:layout name="BE" />

<f:section name="content">

    <div class="pxa-social-feed-be-config">

        <f:if condition="{tokens -> f:count()} > 0">

            <f:then>                
                <div class ="js__pxasocialfeed-be-config-form" >
                    <h4><f:translate key='tx_pxasocialfeed_module.config.header1'> Add new config or edit existing </f:translate></h4>

                    <f:form.validationResults for="config">
                        <f:if condition="{validationResults.flattenedErrors}">
                            <f:then>
                                <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
                                    <f:for each="{errors}" as="error">
                                        <p class="bg-danger" style="padding: 15px;">{error.message}</p>
                                    </f:for>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:flashMessages renderMode="div" />
                            </f:else>
                        </f:if>
                    </f:form.validationResults>

                    <f:form action="saveConfig" name="config" controller="Feeds" object="{config}" noCache="1">

                        <table class="table table-bordered">
                            <tr>
                                <td><f:translate key='tx_pxasocialfeed_module.config.form.config_name'>Config name</f:translate></td>
                                <td><f:form.textfield property="configName"/></td>
                            </tr>
                            <tr>
                                <td><f:translate key='tx_pxasocialfeed_module.config.form.social_id'>Social ID</f:translate></td>
                                <td><f:form.textfield property="socialId"/></td>
                            </tr>
                            <tr>
                                <td><f:translate key='tx_pxasocialfeed_module.config.form.amount_of_feeds'>Limit</f:translate></td>
                                <td><f:form.textfield property="feedCount"/></td>
                            </tr>
                            <tr>
                                <td><f:translate key='tx_pxasocialfeed_module.config.form.type'> Type </f:translate></td>
                                <td>
                                    <f:form.select property="token" options="{tokens}" optionLabelField="selectBoxLabel"/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <f:form.submit class="btn btn-success" name="save" value="{f:translate(key: '{f:if(then: \'tx_pxasocialfeed_module.config.form.button_save\', else: \'tx_pxasocialfeed_module.config.form.create_new_config\', condition: isEditForm)}')}"/>
                                    <input class="js__pxasocialfeed-be-config-form-clear-button btn btn-default" type="reset" value="<f:translate key='tx_pxasocialfeed_module.config.form.button_clear'> Clear Table </f:translate>"/>
                                </td>
                            </tr>
                        </table>                
                    </f:form>
                </div>	

                <div class="js__pxasocialfeed-be-show-all-configs">        
                    <f:if condition="{configs}">                
                        <f:then>
                            <h2><f:translate key='tx_pxasocialfeed_module.config.header2'> Available configs </f:translate></h2>
                            <div class="js__pxasocialfeed-be-configs">
                                <table class="table table-striped">

                                    <tr class="info">
                                        <td><f:translate key='tx_pxasocialfeed_module.config.table.uid'> uid </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.config.form.config_name'> Config name </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.config.form.social_id'> Social ID </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.config.table.feed_amount'> Amount of feeds </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.config.form.type'> Type </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.config.table.token_uid'> Token uid </f:translate></td>
                                        <td><f:translate key='tx_pxasocialfeed_module.token.form.app_id'> App ID </f:translate></td>
                                        <td><f:translate key="tx_pxasocialfeed_module.token.form.edit"/></td>
                                        <td><f:translate key="tx_pxasocialfeed_module.token.form.delete"/></td>
                                    </tr>

                                    <f:for each="{configs}" as="configItem">
                                        <tr class="js__pxasocialfeed-be-custom-config">
                                            <td>{configItem.uid}</td>
                                            <td>{configItem.configName}</td>
                                            <td>{configItem.socialId}</td>
                                            <td>{configItem.feedCount}</td>
                                            <td>{configItem.token.socialTypeDescription}</td>
                                            <td>{configItem.token.uid}</td>
                                            <td>{configItem.token.appId}</td>
                                            <td>
                                                <f:link.action action="addConfig" class="btn btn-default" arguments="{config: configItem}"><f:translate key="tx_pxasocialfeed_module.token.form.edit"/></f:link.action>
                                            </td>
                                            <td>
                                                <f:link.action action="deleteConfig" class="btn btn-danger" arguments="{config: configItem}" additionalAttributes="{onClick: 'return checkDelete();'}"><f:translate key="tx_pxasocialfeed_module.token.form.delete"/></f:link.action>
                                            </td>
                                        </tr>                                
                                    </f:for>

                                </table> 
                            </div>
                        </f:then>
                        <f:else>
                            <h2> <f:translate key='tx_pxasocialfeed_module.config.header3'> There is no created config </f:translate></h2>
                        </f:else>
                    </f:if>
                </div>
                
            </f:then>
            <f:else>
                <h1 class="text-danger"> <f:translate key='tx_pxasocialfeed_module.config.header4'> CRETE TOKEN OBJECT FIRST !!! </f:translate></h1>
            </f:else>
            
        </f:if>
    </div>
        
</f:section>
