
<f:layout name="BE" />

<f:section name="content">    
    
    <div class="pxa-social-feed-be-token">
        <div class ="js__pxasocialfeed-be-token-form" >
            <h4><f:translate key="tx_pxasocialfeed_module.token.header1"> Add new token or edit existing </f:translate></h4>
            <f:form action="addToken" name="pxasocialfeed_form_token" controller="Feeds" enctype="multipart/form-data" noCache="1">
                
                <table class="table table-bordered">
                    <tr>
                        <td><f:translate key="tx_pxasocialfeed_module.token.form.app_id"> App Id </f:translate></td>
                        <td><f:form.textfield name="appID"/></td>
                    </tr>
                    <tr>
                        <td><f:translate key="tx_pxasocialfeed_module.token.form.app_secret"> App Secret </f:translate></td>
                        <td><f:form.textfield name="appSecret"/></td>
                    </tr>
                    <tr>
                        <td><f:translate key="tx_pxasocialfeed_module.token.form.type"> Type </f:translate></td>
                        <td>
                            <select name="tx_pxasocialfeed_tools_pxasocialfeedimporter[tokenType]">
                                <option selected="selected" value="1">Facebook</option>
                                <option value="2">Instagram</option>
                                <option value="3">Instagram (OAuth2)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <f:form.hidden name="tokenUid" value="0" />
                            <f:form.hidden name="DeleteToken" value="0" />
                        </td>
                        
                        <td>
                            <f:form.submit class="btn btn-success" name="save" value="<f:translate key='tx_pxasocialfeed_module.token.form.button_save'> Save Token </f:translate>"/>
                            <input class="js__pxasocialfeed-be-token-form-clear-button btn btn-default" type="button" value="<f:translate key='tx_pxasocialfeed_module.token.form.button_clear'> Clear Table </f:translate>"/>
                            <f:form.submit class="btn btn-danger" style="display: none;" name="delete" value="<f:translate key='tx_pxasocialfeed_module.token.form.button_delete'> Delete Token </f:translate>"/>
                            <a name="GenerateAccessToken" href="/" target="_blank" style="display: none;" class="btn btn-warning">Generate Acces Token</a>
                        </td>
                    </tr>
                </table>                
            </f:form>
        </div>	
                
        <div class="js__pxasocialfeed-be-show-all-tokens">        
            <f:if condition="{tokens}">                
                <f:then>
                    <h2><f:translate key="tx_pxasocialfeed_module.token.header2"> Available tokens object </f:translate></h2>
                    <div class="js__pxasocialfeed-be-tokens">
                        <table class="table table-striped">
                            
                            <tr class="info">
                                <td><f:translate key="tx_pxasocialfeed_module.token.table.uid"> uid </f:translate></td>
                                <td><f:translate key="tx_pxasocialfeed_module.token.form.app_id"> App ID </f:translate></td>
                                <td><f:translate key="tx_pxasocialfeed_module.token.form.app_secret"> App secret </f:translate></td>
                                <td><f:translate key="tx_pxasocialfeed_module.token.form.type"> Token type </f:translate></td>
                                <td></td>
                                <td><f:translate key="tx_pxasocialfeed_module.token.form.accessToken"></f:translate></td>
                            </tr>
                            
                            <f:for each="{tokens}" as="token">                                
                                <tr class="js__pxasocialfeed-be-custom-token">
                                    <td>{token.uid}</td>
                                    <td>{token.appId}</td>
                                    <td>{token.appSecret}</td>
                                    <td>
                                        {token.socialTypeDescription} ({token.socialType})
                                        <input type="hidden" value="{token.socialType}"/>
                                    </td>
                                    <td>
                                        <f:if condition="{token.socialType} == 3">
                                            <input type="hidden" value="https://api.instagram.com/oauth/authorize/?client_id={token.appId}&redirect_uri={f:uri.action(action:'addAccessToken', absolute:1, additionalParams: {response_type: code, tx_pxasocialfeed_tools_pxasocialfeedimporter: {token: token}})->f:format.urlencode()}&response_type=code"/>
                                        </f:if>
                                    </td>
                                    <td>
                                        {token.accessToken}
                                    </td>
                                </tr>                                
                            </f:for>
                            
                        </table> 
                    </div>
                </f:then>
                <f:else>
                    <h2> <f:translate key="tx_pxasocialfeed_module.token.header3"> There is no created token </f:translate></h2>
                </f:else>
            </f:if>
        </div>
    </div>
        
</f:section>
