
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<ul class="social-feed-container">
	<f:for each="{feeds}" as="feed">
		<li class="social-feed-{feed.socialType}">
			<a target="_blank" href="{feed.postUrl}">
				<span class="social-feed-date">{feed.date -> f:format.date()}</span>
				<span class="social-feed-message">{feed.message}</span>
				<span class="social-feed-image-container">
					<img src="{feed.image}" alt="{feed.socialType}" title="{feed.socialType}">
				</span>
				<span class="social-feed-title">{feed.title}</span>
				<span class="social-feed-description">{feed.description}</span>
			</a>
		</li>
	</f:for>
</li>

</f:section>