<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers">

    <f:section name="main">

        <pxa:tokenFields as="fields" type="{tokenItem.socialType}">
            <f:for each="{fields}" as="field">
                <b><f:translate key="pxasocialfeed_module.labels.{field}"/></b>: <pxa:getTokenCredential token="{tokenItem}" credential="{field}"/><br />
            </f:for>
        </pxa:tokenFields>

        <f:if condition="{tokenItem.socialType} == 2 || {tokenItem.isOAuthToken}">
            <f:if condition="{pxa:getTokenCredential(token: tokenItem, credential: 'accessToken')}">
                <f:then>
                    <b><f:translate key="pxasocialfeed_module.labels.accessToken"/></b>: <pxa:getTokenCredential token="{tokenItem}" credential="accessToken"/>
                </f:then>
                <f:else>
                    <f:alias map="{redirectUri: '{f:uri.action(action:\'addAccessToken\', absolute:1, arguments: {token: tokenItem})}'}">
                        <div class="redirect-uri-wrapper">
                            <div class="redirect-uri-label"><b><f:translate key="pxasocialfeed_module.labels.redirectUri"/></b>:</div>
                            <div class="redirect-uri-value"><span id="redirect-uri-holder" class="redirect-uri">{redirectUri}</span></div>
                            <div class="redirect-uri-button">
                                <button id="copy-redirect-uri-button" data-clipboard-target="#redirect-uri-holder" class="btn btn-default btn-xs">
                                    <f:translate key="pxasocialfeed_module.labels.copyToClipboard"/>
                                </button>
                            </div>
                        </div>
                        <a class="btn btn-default" id="get-instagram-toket get-oAuth-token" target="_blank" href="{pxa:tokenGenerationUrl(token: tokenItem, redirectUri: redirectUri)}">
                            <f:translate key="pxasocialfeed_module.labels.generateAccessToken"/>
                        </a>
                    </f:alias>
                    <br>
                    <p id="get-instagram-hidden-tip" style="display: none;"><b><f:translate key="pxasocialfeed_module.labels.get_instagram_hidden_tip"/></b></p>
                </f:else>
            </f:if>
        </f:if>
    </f:section>
</div>