.tx-pxa-social-feed .social-feed-container {
    position: relative;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin: 30px 0;
    display: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.tx-pxa-social-feed .social-feed-container.owl-loaded {
    display: block;
}

.tx-pxa-social-feed .social-feed-container.owl-loading {
    opacity: 0;
    display: block;
}

.tx-pxa-social-feed .social-feed-container.owl-hidden {
    opacity: 0;
}

.tx-pxa-social-feed .social-feed-container.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.tx-pxa-social-feed .social-feed-container.owl-rtl {
    direction: rtl;
}

.tx-pxa-social-feed .social-feed-container .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.tx-pxa-social-feed .social-feed-container .owl-stage:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.tx-pxa-social-feed .social-feed-container .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.tx-pxa-social-feed .social-feed-container .item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.tx-pxa-social-feed .social-feed-container.owl-refresh .item {
    display: none;
}

.tx-pxa-social-feed .social-feed-container.owl-drag .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tx-pxa-social-feed .social-feed-container.owl-rtl .item {
    float: right;
}

.tx-pxa-social-feed .social-feed-container a {
    color: #646464;
    text-decoration: none;
}

.tx-pxa-social-feed .social-feed-container a:hover {
    text-decoration: none;
}

.tx-pxa-social-feed .social-feed-title {
    height: 61px;
}

.tx-pxa-social-feed .social-feed-image-container {
    position: relative;
    margin: 10px auto 20px;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
}

.tx-pxa-social-feed .social-feed-image-container.no-image {
    background-color: #6f6f6f;
}
.tx-pxa-social-feed .social-feed-information {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    line-height: 28px;
    padding: 0 10px 0 5px;
    z-index: 1;
}
.tx-pxa-social-feed .social-feed-date {
    padding-left: 2px;
}
.tx-pxa-social-feed .social-feed-date:before {
    content: '|';
    display: inline;
    font-size: 16px;
    padding-right: 3px;
}
.tx-pxa-social-feed .social-feed-icon {
    position: relative;
    bottom: 1px;
}
.tx-pxa-social-feed .social-feed-1 .social-feed-information {
    background-color: #3D5C98;
}

.tx-pxa-social-feed .social-feed-2 .social-feed-information,
.tx-pxa-social-feed .social-feed-3 .social-feed-information{
    background-color: #4E84AA;
}
.tx-pxa-social-feed .social-feed-4 .social-feed-information{
    background-color: #447da3;
}

.tx-pxa-social-feed .social-feed-message {
    height: 100px;
}

.tx-pxa-social-feed .nav.disabled,
.tx-pxa-social-feed .dots.disabled {
    display: none;
}

.tx-pxa-social-feed .nav .prev,
.tx-pxa-social-feed .nav .next,
.tx-pxa-social-feed .dot {
    cursor: pointer;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tx-pxa-social-feed .dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.tx-pxa-social-feed .dots .dot {
    display: inline-block;
    zoom: 1;
}

.tx-pxa-social-feed .dots .dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background: #e4e4e4;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.tx-pxa-social-feed .dots .dot.active span,
.tx-pxa-social-feed .dots .dot:hover span {
    background-color: #66bd29;
}
.social-feed-3 .social-feed-like-count,
.social-feed-3 .social-feed-like-count{
    background-color: #4E84AA;
}
.social-feed-1 .social-feed-like-count{
    background-color: #3D5C98;
}
.social-feed-4 .social-feed-like-count{
    background-color: #447da3;
}
.social-feed-like-count {
    padding: 5px;
    color:#ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.social-feed-like-count .like-icon {
    position: relative;
    bottom: 3px;
}
#social-feed-like-like-count-element {
    padding-left: 2px;
}
.tx-pxa-social-feed .social-feed-image-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6f6f6f;
    opacity: 0;
    transition: opacity .4s;
}

.tx-pxa-social-feed .social-feed-image-container:after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;
    background-image: url(../Icons/search.svg);
    opacity: 0;
    transition: opacity .4s;
}

.tx-pxa-social-feed a:hover .social-feed-image-container:before {
    opacity: .5;
}

.tx-pxa-social-feed a:hover .social-feed-image-container:after {
    opacity: 1;
}


.animated-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 62px;
    height:62px;
    margin: 0;
}

.load-ajax-feed-wrapper {
    position: relative;
}
.feed-loading-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
}

.animated-loader .wBall {
    position: absolute;
    width: 59px;
    height: 59px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.animated-loader .wBall .wInnerBall{
    position: absolute;
    width: 8px;
    height: 8px;
    background: #009fe3;
    left:0px;
    top:0px;
    border-radius: 8px;
}

.animated-loader #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.animated-loader #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.animated-loader #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.animated-loader #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.animated-loader #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

@media (max-width: 767px) {
    .tx-pxa-social-feed {
        margin: 0 -15px;
    }
}

@media (min-width: 1200px) {
    .tx-pxa-social-feed .social-feed-container {
        padding: 0 50px;
    }
    .tx-pxa-social-feed .owl-stage-outer {
        z-index: 1;
    }
    .tx-pxa-social-feed .nav {
        position: absolute;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -50px;
    }
    .tx-pxa-social-feed .nav > div {
        opacity: .8;
    }
    .tx-pxa-social-feed .nav > div:hover {
        opacity: 1;
    }
    .tx-pxa-social-feed .nav > div.disabled {
        opacity: 0.5;
        cursor: default;
    }
    .tx-pxa-social-feed .nav .prev {
        float: left;
    }

    .tx-pxa-social-feed .nav .next {
        float: right;
    }
}