@font-face {
    font-family: 'socialfeed-icons';
    src: url('fonts/socialfeed-icons/socialfeed-icons.eot?-4pzjay');
    src: url('fonts/socialfeed-icons/socialfeed-icons.eot?#iefix-4pzjay') format('embedded-opentype'), url('fonts/socialfeed-icons/socialfeed-icons.ttf?-4pzjay') format('truetype'), url('fonts/socialfeed-icons/socialfeed-icons.woff?-4pzjay') format('woff'), url('fonts/socialfeed-icons/socialfeed-icons.svg?-4pzjay#socialfeed-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.tx-pxa-social-feed .social-feed-container {
    position: relative;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin: 30px 0;
    display: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.tx-pxa-social-feed .social-feed-container.owl-loaded {
    display: block;
}

.tx-pxa-social-feed .social-feed-container.owl-loading {
    opacity: 0;
    display: block;
}

.tx-pxa-social-feed .social-feed-container.owl-hidden {
    opacity: 0;
}

.tx-pxa-social-feed .social-feed-container.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

.tx-pxa-social-feed .social-feed-container.owl-rtl {
    direction: rtl;
}

.tx-pxa-social-feed .social-feed-container .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.tx-pxa-social-feed .social-feed-container .owl-stage:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.tx-pxa-social-feed .social-feed-container .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.tx-pxa-social-feed .social-feed-container .item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.tx-pxa-social-feed .social-feed-container.owl-refresh .item {
    display: none;
}

.tx-pxa-social-feed .social-feed-container.owl-drag .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tx-pxa-social-feed .social-feed-container.owl-rtl .item {
    float: right;
}

.tx-pxa-social-feed .social-feed-container a {
    color: #646464;
    text-decoration: none;
}

.tx-pxa-social-feed .social-feed-container a:hover {
    text-decoration: none;
}

.tx-pxa-social-feed .social-feed-title {
    height: 61px;
}

.tx-pxa-social-feed .social-feed-image-container {
    position: relative;
    margin: 10px auto 20px;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
}

.tx-pxa-social-feed .social-feed-image-container.no-image {
    background-color: #6f6f6f;
}

.tx-pxa-social-feed .social-feed-image-container.no-image:before {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    speak: none;
    font-family: 'socialfeed-icons';
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(-50%, -50%) rotate(27deg);
    -ms-transform: translate(-50%, -50%) rotate(27deg);
    transform: translate(-50%, -50%) rotate(27deg);
    will-change: opacity .4s;
    transition: opacity .4s;
}

.tx-pxa-social-feed .social-feed-facebook .social-feed-image-container.no-image:before {
    content: 'f';
    text-transform: uppercase;
}

.tx-pxa-social-feed .social-feed-instagram .social-feed-image-container.no-image:before {
    content: 'i';
    text-transform: uppercase;
}

.tx-pxa-social-feed .social-feed-information {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
    z-index: 1;
}

.tx-pxa-social-feed .social-feed-facebook .social-feed-information {
    background-color: #3D5C98;
}

.tx-pxa-social-feed .social-feed-instagram .social-feed-information {
    background-color: #4E84AA;
}

.tx-pxa-social-feed .social-feed-information .social-feed-date:before {
    position: relative;
    display: inline-block;
    speak: none;
    font-family: 'socialfeed-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #fff;
}

.tx-pxa-social-feed .social-feed-facebook .social-feed-date:before {
    content: 'f';
}

.tx-pxa-social-feed .social-feed-instagram .social-feed-date:before {
    content: 'i';
}

.tx-pxa-social-feed .social-feed-message {
    height: 100px;
}

.tx-pxa-social-feed .nav.disabled,
.tx-pxa-social-feed .dots.disabled {
    display: none;
}

.tx-pxa-social-feed .nav .prev,
.tx-pxa-social-feed .nav .next,
.tx-pxa-social-feed .dot {
    cursor: pointer;
    cursor: hand;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tx-pxa-social-feed .dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.tx-pxa-social-feed .dots .dot {
    display: inline-block;
    zoom: 1;
}

.tx-pxa-social-feed .dots .dot span {
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background: #e4e4e4;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.tx-pxa-social-feed .dots .dot.active span,
.tx-pxa-social-feed .dots .dot:hover span {
    background-color: #66bd29;
}

.no-js .tx-pxa-social-feed .social-feed-container {
    display: block;
}

.touch .tx-pxa-social-feed .social-feed-image-container:after {
    position: absolute;
    content: 'a';
    display: inline-block;
    bottom: 0;
    right: 0;
    padding: 30px 10px 10px 30px;
    speak: none;
    font-family: 'socialfeed-icons';
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #fff;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 2;
}

.touch .tx-pxa-social-feed .social-feed-facebook .social-feed-image-container:after {
    background: linear-gradient(135deg, rgba(61, 92, 152, 0) 0%, rgba(61, 92, 152, 0) 50%, #3d5c98 51%, #3d5c98 100%);
}

.touch .tx-pxa-social-feed .social-feed-instagram .social-feed-image-container:after {
    background: linear-gradient(135deg, rgba(78, 132, 170, 0) 0%, rgba(78, 132, 170, 0) 50%, #4e84aa 51%, #4e84aa 100%);
}

.no-touch .tx-pxa-social-feed .social-feed-image-container:not(.no-image):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6f6f6f;
    opacity: 0;
    will-change: opacity .4s;
    transition: opacity .4s;
}

.no-touch .tx-pxa-social-feed .social-feed-image-container:after {
    content: 's';
    position: absolute;
    display: inline-block;
    font-family: 'socialfeed-icons';
    speak: none;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    will-change: opacity .4s;
    transition: opacity .4s;
}

.no-touch .tx-pxa-social-feed a:hover .social-feed-image-container:not(.no-image):before {
    opacity: .5;
}

.no-touch .tx-pxa-social-feed a:hover .social-feed-image-container:after {
    opacity: 1;
}

.no-touch .tx-pxa-social-feed a:hover .social-feed-image-container.no-image:before {
    opacity: 0;
}

@media (max-width: 767px) {
    .tx-pxa-social-feed {
        margin: 0 -15px;
    }
}

@media (min-width: 1200px) {
    .tx-pxa-social-feed .social-feed-container {
        padding: 0 50px;
    }

    .tx-pxa-social-feed .owl-stage-outer {
        z-index: 1;
    }

    .tx-pxa-social-feed .nav {
        position: absolute;
        text-align: center;
        font-size: 30px;
        -webkit-tap-highlight-color: transparent;
        top: 50%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .tx-pxa-social-feed .nav > div:not(.disabled) {
        opacity: .8;
    }

    .tx-pxa-social-feed .nav > div:not(.disabled):hover {
        opacity: 1;
    }

    .tx-pxa-social-feed .nav .disabled {
        opacity: 0.5;
        cursor: default;
    }

    .tx-pxa-social-feed .nav .prev {
        float: left;
    }

    .tx-pxa-social-feed .nav .prev:before {
        content: 'l';
        position: relative;
        display: inline-block;
        font-family: 'socialfeed-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .tx-pxa-social-feed .nav .next {
        float: right;
    }

    .tx-pxa-social-feed .nav .next:before {
        content: 'r';
        position: relative;
        display: inline-block;
        font-family: 'socialfeed-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}