
<f:layout name="default" />

<f:section name="content">    
    
    <div class="pxa-social-feed-be-token">
        <div class ="js__pxasocialfeed-be-token-form" >
            <h4>Add new token or edit existing</h4>
            <f:form action="addToken" name="pxasocialfeed_form_token" controller="Feeds" enctype="multipart/form-data" noCache="1">
                
                <table class="table table-bordered">
                    <tr>
                        <td>App Id</td>
                        <td><f:form.textfield name="appID"/></td>
                    </tr>
                    <tr>
                        <td>App Secret</td>
                        <td><f:form.textfield name="appSecret"/></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>
                            <select name="tx_pxasocialfeed_tools_pxasocialfeedimporter[tokenType]">
                                <option selected="selected" value="1">Facebook</option>
                                <option value="2">Instagram</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <f:form.hidden name="tokenUid" value="0" />
                            <f:form.hidden name="DeleteToken" value="0" />
                        </td>
                        
                        <td>
                            <f:form.submit class="btn btn-success" name="save" value="Save Token"/>
                            <input class="js__pxasocialfeed-be-token-form-clear-button btn btn-default" style="/*display: none;*/" type="button" value="Clear Table"/>
                            <f:form.submit class="btn btn-danger" style="display: none;" name="delete" value="Delete Token"/>   
                        </td>
                    </tr>
                </table>                
            </f:form>
        </div>	
                
        <div class="js__pxasocialfeed-be-show-all-tokens">        
            <f:if condition="{tokens}">                
                <f:then>
                    <h2>Available tokens object</h2>
                    <div class="js__pxasocialfeed-be-tokens">
                        <table class="table table-striped">
                            
                            <tr class="info">
                                <td>uid</td>
                                <td>App ID</td>
                                <td>App secret</td>
                                <td>Token type</td>
                            </tr>
                            
                            <f:for each="{tokens}" as="token">                                
                                <tr class="js__pxasocialfeed-be-custom-token">
                                    <td>{token.uid}</td>
                                    <td>{token.appId}</td>
                                    <td>{token.appSecret}</td>
                                    <td>
                                        <f:render partial="Feeds/SelectType" arguments="{type: token.socialType}" />
                                        <input type="hidden" value="{token.socialType}"/>
                                    </td>
                                </tr>                                
                            </f:for>
                            
                        </table> 
                    </div>
                </f:then>
                <f:else>
                    <h2> There is no created token </h2>
                </f:else>
            </f:if>
        </div>
    </div>
        
</f:section>
