
<f:layout name="Default" />

<f:section name="content">
    
    <div class="tx-pxa-social-feed">
    <ul class="social-feed-container owl-carousel">
        
        <f:for each="{feeds}" as="feed">
        
        <li class="social-feed-{feed.socialType}">
            <a href="{feed.postUrl}" target="_blank">
                <h3 class="social-feed-title">{feed.title}</h3>
                <div class="social-feed-image-container">
                    <div class="social-feed-information">
                        <span class="social-feed-date">{feed.date -> f:format.date()}</span>
                    </div>
                    
                    <img title="{feed.socialType}" alt="{feed.socialType}" src="{feed.image}">
                </div>
                <p class="social-feed-message">{feed.message}</p>
            </a>
        </li>
        
        </f:for>
        
    </ul>
    </div>
</f:section>