<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="presentation">owl-carousel</f:variable>
<f:if condition="{settings.presentation}">
	<f:variable name="presentation">{settings.presentation}</f:variable>
</f:if>
<f:variable name="partial">FeedItemCard</f:variable>
<f:if condition="{settings.partial}">
	<f:variable name="partial">{settings.partial}</f:variable>
</f:if>

<ul class="social-feed-container social-feed-{partial->f:format.case(mode: 'lower')} {presentation}">
    <f:for each="{feeds}" as="feed">
        <f:render partial="Frontend/{partial}" arguments="{feed: feed, settings: settings}"/>
    </f:for>
</ul>

</html>
