<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaSocialFeed/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <li class="social-feed-item social-feed-{feed.configuration.token.type}" data-posturl="{feed.postUrl}">
				<h3 class="social-feed-title">{feed.title}</h3>
        <div class="social-feed-image-container{f:if(else: ' no-image', then: '', condition: feed.falMedia)}">
            <f:if condition="{feed.falMedia}">
              <f:image image="{feed.falMedia.0}" title="{feed.falMedia.0.title}" alt="{feed.falMedia.0.alternative}" />
            </f:if>
        </div>
        <span class="social-feed-information">
            <f:image src="EXT:pxa_social_feed/Resources/Public/Icons/type-{feed.configuration.token.type}-icon.svg" class="social-feed-icon" alt="social icon" />
            <span class="social-feed-date">{feed.postDate -> f:format.date(format: settings.dateFormat)}</span>
            <f:if condition="{settings.loadLikesCount}">
                <span class="social-feed-like-count">
                    <f:image src="EXT:pxa_social_feed/Resources/Public/Icons/like.svg" class="like-icon" alt="like" />
                    <span class="social-feed-like-like-count-element">{feed.likes}</span>
                </span>
            </f:if>
        </span>
        <p class="social-feed-message">
            <f:format.raw>{feed.decodedMessage -> pxa:parseMessage(type: feed.configuration.token.type) -> f:format.nl2br()}</f:format.raw>
        </p>
    </li>
</html>
